.wrapper-tabla{
    margin-bottom: 40px;
    overflow: hidden;
    .item {
        padding: 20px;
        background: #f9f9f9;
        margin: 0px 1% 10px 0px;
        width: 24%;
        float: left;
        border-radius: 3px;
        h5 {
            border: 1px solid;
            display: inline-block;
            padding: 3px 10px;
            border-radius: 4px;
            color: white;
            background: #6dbacd;
            margin: 0px 0px 15px 0px !important;
            font-weight: normal;
            font-size: 15px;
        }
        .line {
            display: flex;
            border-bottom: 1px solid #eae7e7;
            padding: 5px 0px;
        }
        .name {
            width: 30%;
            display: inline-block;
            font-weight: 400;
        }
    }
}