.wrapper-tarjetas{
    margin-bottom: 40px;
    h5 {
        border: 1px solid;
        display: inline-block;
        padding: 3px 10px;
        border-radius: 4px;
        color: white;
        background: #6dbacd;
        margin: 0px 0px 15px 0px !important;
        font-weight: normal;
        font-size: 15px;
    }
    .category {
        margin-bottom: 25px;
    }
    .items-tarjetas{
        display: flex;
        flex-wrap: wrap;
        .item {
            padding: 20px;
            background: #f9f9f9;
            margin: 0px 1% 10px 0px;
            width: 24%;
            float: left;
            border-radius: 3px;
            .link {
                font-weight: 500;
                color: #6750d3;
            }
            p {
                margin-bottom: 0px;
            }
            span {
                display: block;
                color: #6dbacd;
                margin: 3px 0px 8px 0px;
            }
        }
    }
}